<div class="container-fluid">
  <mat-card>
    <div class="row">

      <h2 class="col-md-10 col-sm-12">Usuarios</h2>
      <button mat-button color="primary" class="col-md-2 col-sm-12" (click)="editarUsuario(0)">
        <mat-icon>add</mat-icon>
        NUEVO
      </button>
    </div>
    <hr class="mt-2 mb-3" />

    <div class="container-fluid">
      <div class="row p-0">
        <div class="col-md-12 text-right">
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput [(ngModel)]="buscar" (ngModelChange)="applyFilter($event)" placeholder="Buscar ...">
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="users" class="mat-elevation-z2 primary border striped hover w-100">
          <ng-container matColumnDef="indice">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{((tablaIndicePagina*tablaTamanoPagina)+i+1)}}</td>
          </ng-container>
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> Usuarios </th>
            <td mat-cell *matCellDef="let element"> {{element.nick}}  </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.role.description}}  </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 150px; text-align: center;"> Acción </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
              <button mat-icon-button color="primary" (click)="editarUsuario(element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="dialogoEliminar(element.id, element.nick)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-results-table [noRecords]="users.length==0"></app-no-results-table>
        <mat-paginator [length]="tablaLongitud" [pageIndex]="tablaIndicePagina" [pageSize]="tablaTamanoPagina" (page)="onPageChange($event)" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
