<div class="container">
  <mat-card class="my-3">

    <form [formGroup]="form" (ngSubmit)="createOrUpdate()">

      <div class="row">

        <h2 class="col-md-8 col-sm-12">{{action}} producto</h2>

        <div class="col-md-2 col-sm-12 mb-3">
          <button mat-flat-button color="primary" class="w-100" type="submit">
            <span>Aceptar</span>
          </button>
        </div>

        <div class="col-md-2 col-sm-12">
          <button mat-stroked-button color="primary" class="w-100" (click)="return()">
            <span>Cancelar</span>
          </button>
        </div>
      </div>

      <hr>
      <br>
      <div class="container">
        <div class="row">

          <mat-form-field class="col-6">
            <input matInput placeholder="Nombre del producto" formControlName="name">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="col">
            <mat-select placeholder="Proveedor" formControlName="providerId">
              <mat-option *ngFor="let p of providers" [value]=p.id>{{p.name}}</mat-option>
            </mat-select>
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-6">
            <input matInput
                   [matDatepicker]="expiryDate"
                   formControlName="expiryDate"
                   placeholder="Fecha de expiracion">
            <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
            <mat-datepicker #expiryDate></mat-datepicker>
            <mat-error>*Campo requerido o valor invalido.</mat-error>
          </mat-form-field>

          <mat-form-field class="col-6">
            <input matInput type="number" placeholder="Stock" formControlName="stock">
            <mat-error>*Campo requerido.</mat-error>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field class="col-6">
            <input matInput type="number" placeholder="Precio en soles" formControlName="price">
            <mat-error>*Campo requerido.</mat-error>
          </mat-form-field>

        </div>

      </div>
    </form>
  </mat-card>
</div>
