<div class="container-fluid">
  <mat-card class="my-3">

    <div class="row">

      <h2 class="col-md-11 col-sm-12">Entradas/Salidas</h2>

      <button mat-button color="primary" class="col-md-1 col-sm-6" (click)="getProducts()">
        <mat-icon>update</mat-icon>
        Actualizar
      </button>
    </div>

    <hr>
    <br>
    <div class="container-fluid">

      <div class="row">

        <mat-radio-group class="col-md-2 col-sm-12" aria-label="Seleccone operacion" [(ngModel)]="operation">
          <mat-radio-button value="1">Entradas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
          <mat-radio-button value="2">Salidas</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="col-md-2 col-sm-6" *ngIf="operation == 2">
          <mat-select placeholder="Razon" [(ngModel)]="reasonSelected">
            <mat-option *ngFor="let r of reasons" [value]=r>{{r.description}}</mat-option>
          </mat-select>
          <mat-error>*Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-2 col-sm-6" *ngIf="operation == 2 && reasonSelected.staticCode == 4">
          <mat-select placeholder="Tipo de pago" [(ngModel)]="payTypeSelected">
            <mat-option *ngFor="let pt of payTypes" [value]=pt>{{pt.description}}</mat-option>
          </mat-select>
          <mat-error>*Campo requerido</mat-error>
        </mat-form-field>

      </div>

      <hr>
      <br>

      <div class="row">
        <h3 *ngIf="operation == 1">Re-stock</h3>
        <h3 *ngIf="operation == 2 && reasonSelected.staticCode != 4 && reasonSelected.staticCode != 0">{{reasonSelected.description}}</h3>
        <h3 *ngIf="operation == 2 && reasonSelected.staticCode == 4 && payTypeSelected.staticCode != 0">Venta - {{payTypeSelected.description}}</h3>
      </div>

      <div class="row p-0" *ngIf="operation == 1 || (operation == 2 && reasonSelected.staticCode != 4 && reasonSelected.staticCode != 0) || (operation == 2 && reasonSelected.staticCode == 4 && payTypeSelected.staticCode != 0)">
        <div class="col-md-12 text-right">
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput [(ngModel)]="search" (ngModelChange)="applyFilter($event)" placeholder="Buscar ...">
          </mat-form-field>
        </div>
      </div>

      <div class="table-responsive row" *ngIf="operation == 1 || (operation == 2 && reasonSelected.staticCode != 4 && reasonSelected.staticCode != 0) || (operation == 2 && reasonSelected.staticCode == 4 && payTypeSelected.staticCode != 0)">
        <table mat-table [dataSource]="products" class="mat-elevation-z2 primary border striped hover w-100">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{((tableIndex*pageLength)+i+1)}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}  </td>
          </ng-container>
          <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef> Proveedor </th>
            <td mat-cell *matCellDef="let element"> {{element.provider.name}}  </td>
          </ng-container>
          <ng-container matColumnDef="expiryDate">
            <th mat-header-cell *matHeaderCellDef> Fecha de expiracion </th>
            <td mat-cell *matCellDef="let element"> {{element.expiryDate | date: 'dd/MM/yyyy' }}  </td>
          </ng-container>
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}}  </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}}  </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;"> Acción </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
              <mat-form-field class="col-6">
                <input matInput type="number" placeholder="cant." [(ngModel)]="element.amountLog">
                <mat-error>*Campo requerido</mat-error>
              </mat-form-field>

              <button mat-icon-button color="primary" *ngIf="operation == 1" (click)="inputLogDialog(element)">
                <mat-icon>arrow_circle_left</mat-icon>
              </button>

              <button mat-icon-button color="warn" *ngIf="operation == 2" (click)="outputLogDialog(element)">
                <mat-icon>arrow_circle_right</mat-icon>
              </button>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-results-table [noRecords]="products.length==0"></app-no-results-table>
        <mat-paginator [length]="tableLength" [pageIndex]="tableIndex" [pageSize]="pageLength" (page)="onPageChange($event)" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </mat-card>
</div>
