<div class="container">
  <mat-card class="my-3">

    <form [formGroup]="form" (ngSubmit)="createOrUpdate()">

      <div class="row">

        <h2 class="col-md-8 col-sm-12">{{action}} proveedor</h2>

        <div class="col-md-2 col-sm-12 mb-3">
          <button mat-flat-button color="primary" class="w-100" type="submit">
            <span>Aceptar</span>
          </button>
        </div>

        <div class="col-md-2 col-sm-12">
          <button mat-stroked-button color="primary" class="w-100" (click)="return()">
            <span>Cancelar</span>
          </button>
        </div>
      </div>

      <hr>
      <br>
      <div class="container">
        <div class="row">

          <mat-form-field class="col-6">
            <input matInput placeholder="Nombre del proveedor" formControlName="name">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="col-6">
            <input matInput placeholder="Direccion" formControlName="address">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-6">
            <input matInput placeholder="Telefono" formControlName="phone">
            <mat-error>*Campo requerido o valor invalido.</mat-error>
          </mat-form-field>

          <mat-form-field class="col-6">
            <input matInput type="email" placeholder="e-mail" formControlName="email">
            <mat-error>*Campo requerido o valor invalido.</mat-error>
          </mat-form-field>

        </div>

      </div>
    </form>
  </mat-card>
</div>
