<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">{{ data.negativeButton }}</button>
  <button mat-button [mat-dialog-close]="true">{{ data.positiveButton }}</button>
</mat-dialog-actions>
