<div class="login">
  <form [formGroup]="form" class="custom-form" (ngSubmit)="login()">
    <h1>Login</h1>

    <div class="row">
      <mat-form-field class="col w-100">
        <input matInput placeholder="Usuario" formControlName="user">
        <mat-error>*Campo requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col w-100">
        <input matInput type="password" placeholder="Contrasena" formControlName="password">
        <mat-error>*Campo requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <button mat-flat-button color="primary" class="w-100 col" type="submit">
        <span>Ingresar</span>
      </button>

      <!--<button mat-flat-button color="secundary" class="w-100 col" (click)="retornar()">
        <span>Cancelar</span>
      </button>-->
    </div>


  </form>
</div>
