* {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f3;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.custom-form {
  min-width: 300px;
  max-width: 20%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin-top: 10rem;
}
