<div class="container">
  <mat-card class="my-3">

    <form [formGroup]="form" (ngSubmit)="agregarUsuario()">

      <div class="row">

        <h2 class="col-md-8 col-sm-12">{{accion}} Usuario</h2>

        <div class="col-md-2 col-sm-12 mb-3">
          <button mat-flat-button color="primary" class="w-100" type="submit">
            <span>Aceptar</span>
          </button>
        </div>

        <div class="col-md-2 col-sm-12">
          <button mat-stroked-button color="primary" class="w-100" (click)="retornar()">
            <span>Cancelar</span>
          </button>
        </div>
      </div>

      <hr>
      <br>
      <div class="container">
        <div class="row">

          <mat-form-field class="col">
            <input matInput placeholder="Nombres" formControlName="nombres">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col">
            <input matInput placeholder="Usuario" formControlName="usuario">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="!esEdicion">
            <input matInput type="password" placeholder="Contraseña" formControlName="contrasena">
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="col">
            <mat-select placeholder="Rol" formControlName="rol">
              <mat-option *ngFor="let r of roles" [value]=r.id>{{r.description}}</mat-option>
            </mat-select>
            <mat-error>*Campo requerido</mat-error>
          </mat-form-field>

        </div>
      </div>
    </form>
  </mat-card>
</div>
