<mat-sidenav-container [autosize]="true">
  <mat-sidenav #drawer fixedInViewport="true"
               [ngClass]="{'expanded': (isHandset$ | async), 'collapsed': !(isHandset$ | async)}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div *ngIf="user !== null" class="sidenav-header d-flex align-items-center">
      <div class="avatar mr-2" style="background-color: var(--primary);">
        {{ user | appAbreviacion }}
      </div>
      <div *ngIf="(isHandset$ | async)" class="text-white">
        <h3 class="m-0">
          {{ user.nombres }} {{ user.apellidos }}
        </h3>
        <span *ngIf="user.tipo_usuario">
          {{ user.rol.nombre }}
        </span>
      </div>
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="app-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node">
          <a [routerLink]="node.url" [matTooltip]="node.name">
            <mat-icon>
              {{node.icon}}
            </mat-icon>
            <span *ngIf="(isHandset$ | async)">
              {{node.name}}
            </span>
          </a>
        </li>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node">
            <button *ngIf="(isHandset$ | async)" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" [matTooltip]="node.name">
              <mat-icon>
                {{node.icon}}
              </mat-icon>
              <span>
                {{node.name}}
              </span>
            </button>
            <button *ngIf="!(isHandset$ | async)" mat-icon-button [matMenuTriggerFor]="submenu" [matMenuTriggerData]="{children: node.children}" [matTooltip]="node.name">
              <mat-icon>
                {{node.icon}}
              </mat-icon>
            </button>
          </div>
          <ul [class.app-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="(isHandset$ | async)" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h2>Sistema de almacen</h2>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main class="my-3">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #submenu xPosition="after" yPosition="below" class="sub-menu">
  <ng-template matMenuContent let-children="children">
    <a *ngFor="let child of children" mat-menu-item [routerLink]="child.url">
      <mat-icon>
        {{ child.icon }}
      </mat-icon>
      <span>
        {{ child.name }}
      </span>
    </a>
  </ng-template>
</mat-menu>
