mat-sidenav-container {
  min-height: 100vh;
  //background-color: #f6f6f6;

  mat-sidenav {
    background-color: #262626;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.expanded {
      width: 240px;

      mat-icon {
        margin-right: 16px;
      }
    }

    &.collapsed {
      width: 64px;

      ::ng-deep .mat-button-wrapper,
      .mat-icon {
        display: block;
        margin: auto;
      }
    }

    .sidenav-header {
      .avatar {
        font-size: 20px;
        font-weight: bold;
        margin: 0.3em !important;
        width: 2.4em;
        height: 2.4em;
        color: white;
        border: 2px solid white;
        border-radius: 50%;
        text-align: center;
        line-height: 2.16em;
      }

      h3 {
        line-height: 1;
      }
    }

    mat-tree {
      background-color: transparent;

      button,
      a {
        display: flex;
        width: 100%;
        border-radius: 0px;
        text-align: start;
        padding: 0px 15px;
        color: white;
        align-items: center;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      .mat-tree-node > button > span,
      .mat-tree-node > a > span {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 130px;
        white-space: nowrap;
      }

      mat-tree-node:hover {
        background-color: rgba($color: #000000, $alpha: 0.5);
        transition: ease-in-out;
      }
    }

    .app-tree-invisible {
      display: none;
    }

    .app-tree ul,
    .app-tree li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
  }

  mat-sidenav-content {
    mat-toolbar {
      position: sticky;
      top: 0;
      z-index: 10000;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      img {
        height: 32px;
      }

      .toolbar-spacer {
        flex: 1 1 auto;
      }
    }
  }
}

::ng-deep .mat-menu-panel.sub-menu {
  min-height: unset;

  .mat-menu-content {
    padding: 0px !important;

    a {
      background-color: #424242;
      text-decoration: none;
      color: white;

      mat-icon {
        color: white;
      }
    }

    a:hover {
      background-color: #343434;
    }
  }
}
