/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-teal);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

:root {
  --color: #ffffff;
  --background: #353535;
}

html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #009688;
  color: var(--color);
}


/************************************************************************
    SNACKBAR STYLES
************************************************************************/
.warning-snackbar {
  background: #ffee58 !important;

  .mat-simple-snackbar-action,
  .mat-simple-snackbar {
    color: #262626 !important;
  }
}

.error-snackbar {
  background: #ef5350 !important;

  .mat-simple-snackbar-action,
  .mat-simple-snackbar {
    color: white !important;
  }
}

.success-snackbar {
  background: #26a69a !important;

  .mat-simple-snackbar-action,
  .mat-simple-snackbar {
    color: white !important;
  }
}

table {
  width: 100%;
}

//BOTONES BLOTANTES
.adminActions {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.adminButtons {
  position: absolute;
  width: 100%;
  bottom: 120%;
  text-align: center;
}

.adminButtons a {
  display: block;
  margin: 10px auto 0;
  visibility: hidden;
  position: relative;
}

.adminButtons button:nth-child(1) {
  transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;
}

.adminButtons button:nth-child(2) {
  transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;
}

.adminButtons button:nth-child(3) {
  transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;
}

.adminButtons button:nth-child(4) {
  transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;
}

.adminToggle {
  -webkit-appearance: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
}

.adminToggle:checked ~ .adminButtons a {
  opacity: 1;
  visibility: visible;
}

.mat-card {
  min-width: 100% !important;
  max-width: 100% !important;
}

.table {
  display: block !important;
}
