<div class="container-fluid">
  <mat-card class="my-3">

    <div class="row">

      <h2 class="col-md-11 col-sm-12">Reportes</h2>

      <button mat-button color="primary" class="col-md-1 col-sm-6" (click)="getProductsLogs()">
        <mat-icon>update</mat-icon>
        Actualizar
      </button>
    </div>

    <hr>
    <br>
    <div class="container-fluid">
      <mat-tab-group>

        <!--ENTRADAS-->
        <mat-tab label="Entradas">
          <div class="row p-0">
            <div class="col-md-12 text-right">
              <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput [(ngModel)]="search" (ngModelChange)="getProductsLogs()" placeholder="Buscar ...">
              </mat-form-field>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="inputLogs" class="mat-elevation-z2 primary border striped hover w-100">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index;">{{((tableIndex*pageLength)+i+1)}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}}  </td>
              </ng-container>
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                <td mat-cell *matCellDef="let element"> {{element.product.provider.name}}  </td>
              </ng-container>
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef> Razon </th>
                <td mat-cell *matCellDef="let element"> {{element.reason.description }}  </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}}  </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}}  </td>
              </ng-container>
              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef style="width: 150px; text-align: center;"> Stock actual</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.product.stock}}  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-no-results-table [noRecords]="inputLogs.length==0"></app-no-results-table>
            <mat-paginator [length]="tableLength" [pageIndex]="tableIndex" [pageSize]="pageLength" (page)="onPageChange($event)" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

        <!--SALIDAS-->
        <mat-tab label="Salidas">

          <div class="row p-0">
            <div class="col-md-12 text-right">
              <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput [(ngModel)]="search2" (ngModelChange)="getProductsLogs()" placeholder="Buscar ...">
              </mat-form-field>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="outputLogs" class="mat-elevation-z2 primary border striped hover w-100">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index;">{{((tableIndex*pageLength)+i+1)}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}}  </td>
              </ng-container>
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                <td mat-cell *matCellDef="let element"> {{element.product.provider.name}}  </td>
              </ng-container>
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef> Razon </th>
                <td mat-cell *matCellDef="let element"> {{element.reason.description }}  </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}}  </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}}  </td>
              </ng-container>
              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef style="width: 150px; text-align: center;"> Stock actual</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.product.stock}}  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
            <app-no-results-table [noRecords]="outputLogs.length==0"></app-no-results-table>
            <mat-paginator [length]="tableLength2" [pageIndex]="tableIndex2" [pageSize]="pageLength2" (page)="onPageChange2($event)" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>

        </mat-tab>

        <!--BAJO STOCK-->
        <mat-tab label="Bajo stock">
          <div class="row p-0">
            <div class="col-md-12 text-right">
              <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput [(ngModel)]="search3" (ngModelChange)="getProductsLogs()" placeholder="Buscar ...">
              </mat-form-field>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="products" class="mat-elevation-z2 primary border striped hover w-100">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index;">{{((tableIndex*pageLength)+i+1)}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}}  </td>
              </ng-container>
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                <td mat-cell *matCellDef="let element"> {{element.provider.name}}  </td>
              </ng-container>
              <ng-container matColumnDef="expiryDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de expiracion </th>
                <td mat-cell *matCellDef="let element"> {{element.expiryDate | date: 'dd/MM/yyyy' }}  </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}}  </td>
              </ng-container>
              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef style="width: 150px; text-align: center;"> Stock </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.stock}}  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
            <app-no-results-table [noRecords]="products.length==0"></app-no-results-table>
            <mat-paginator [length]="tableLength3" [pageIndex]="tableIndex3" [pageSize]="pageLength3" (page)="onPageChange3($event)" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </mat-card>
</div>
