<div class="container-fluid">
  <mat-card>
    <div class="row">

      <h2 class="col-md-10 col-sm-12">Productos</h2>
      <button mat-button color="primary" class="col-md-1 col-sm-6" (click)="edit(0)">
        <mat-icon>add</mat-icon>
        NUEVO
      </button>
      <button mat-button color="primary" class="col-md-1 col-sm-6" (click)="getProducts()">
        <mat-icon>update</mat-icon>
        Actualizar
      </button>
    </div>
    <hr class="mt-2 mb-3" />

    <div class="container-fluid">
      <div class="row p-0">
        <div class="col-md-12 text-right">
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput [(ngModel)]="search" (ngModelChange)="applyFilter($event)" placeholder="Buscar ...">
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="products" class="mat-elevation-z2 primary border striped hover w-100">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{((tableIndex*pageLength)+i+1)}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}  </td>
          </ng-container>
          <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef> Proveedor </th>
            <td mat-cell *matCellDef="let element"> {{element.provider.name}}  </td>
          </ng-container>
          <ng-container matColumnDef="expiryDate">
            <th mat-header-cell *matHeaderCellDef> Fecha de expiracion </th>
            <td mat-cell *matCellDef="let element"> {{element.expiryDate | date: 'dd/MM/yyyy' }}  </td>
          </ng-container>
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}}  </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}}  </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 150px; text-align: center;"> Acción </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
              <button mat-icon-button color="primary" (click)="edit(element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteDialog(element.id, element.name)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-results-table [noRecords]="products.length==0"></app-no-results-table>
        <mat-paginator [length]="tableLength" [pageIndex]="tableIndex" [pageSize]="pageLength" (page)="onPageChange($event)" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
